@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css");

::selection{
  background-color: #ffde7c;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
html, body{
  width: 100%;
  height: 100%;
}
@media (min-width: 601px) {
  header, section{
    display: none;
  }

  /* ----- header are ------ */
  .header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
  }
  .dropdown_area ul{
    display: flex;
  }
  .dropdown_area li{
    list-style: none;
  }
  .dropdown_area li a{
    color: #000;
    padding: 0.3vw 1.3vw;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
  }
  .dropdown_area li a:hover{
    background-color: #ddd;
  }
  .dropdown_area li a i{
    padding-left: 0.3vw;
  }


  .header .login_area{
    display: flex;
    gap: 0.8vw;
  }
  .header .login_area h4 a{
    background-color: #fff;
    padding: 0.6vw 0.8vw;
    border: 1px solid #000;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-weight: 400;
  }
  .header .login_area h4 a:active{
    background-color: #e6e6e6;
  }
  #signup{
    background-color: #000;
    color: #fff;
    transition: 0.3s;
  }
  #signup:hover{
    background-color: #fff;
    color: #000;
  }

  /* ----- content area ----- */
  .content_area{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    padding: 5vw 10vw;
  }
  .left_area{
    width: 50%;
    height: 100%;
  }
  .left_area h2{
    font-size: 4vw;
    font-weight: 400;
  }

  .left_area a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-size: 1.2vw;
    padding: 0.9vw 1.7vw;
    border-radius: 5px;
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
  .left_area p{
    font-size: 0.8vw;
  }
  .left_area #note{
    font-size: 1.2vw;
    width: 80%;
    color: #000;
    margin: 1vw 0;
  }



  .right_area{
    width: 50%;
    height: 100%;

    padding: 1vw;
    display: flex;
  }


  .form_area{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e3b838;
    padding: 4.5vw 4vw;
    border-radius: 10px;
  }
  #form_img{
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffde7c;
  }
  #form_img .form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #form_img .form p{
    padding: 1vw;
    text-align: center;
  }
  #form_img .form input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffde7c;
    font-size: 1vw;
    outline: none;
  }
  #form_img .form input::placeholder{
    color: #ffde7c;
  }
  #form_img .img{
    width: 50%;
    height: 100%;
  }
  #form_img .img img{
    width: 100%;
    height: 100%;
  }

}